<div class="event-container">
    <!-- ovo je samo za sad kad nema eventa tipa neko rucno unese neki glup id treba se formira cela nova stranica i da se radi redirekcija -->
    <div class="no-events" *ngIf="!event">
        Event koji pokusavate da pronadjete ne postoji
    </div>
    <!-- Stanje učitavanja -->
    <app-loading *ngIf="loading" [message]="'Učitavam detalje za dogadjaj...'">
    </app-loading>

    <!--Ako se ne ucitava i nema gresaka ucitavamo sliku-->
    <div *ngIf="!loading && !error && event" class="event-content">
        <!-- Ovo je zaglavlje stranice odnosno cela gornja sekcija sa slikom i dodatnim informacijama -->
        <div class="event-header">
            <div class="event-image-container">
                <!-- ovde ucitavamo sliku za ciji url name bek vraca tacno adresu -->
                <img [src]="event.eventImageUrl" [alt]="event.eventName" class="event-image" />
                <!-- ovde proveravamo da li je rasprodato i ako jeste prikazujemo badge sa rasprodato -->
                <div *ngIf="event.soldOut" class="sold-out-badge">Rasprodato</div>
                <!-- ovde se prikazuje data-badge odnosno deo slike koji podseca na kalendar gde je prikazan mesec i ispod dan -->
                <div class="date-badge">
                    <!-- date je angular default pipe kako je podesen u app.configu na srbiju preko tog pajpa se mogu formatirati datumi na lokalne vrednosti seckati i uredjivati po volji -->
                    <span class="month">{{ event.eventDate | date:'MMM' }}</span>
                    <span class="day">{{ event.eventDate | date:'dd'}}</span>
                </div>
            </div>

            <!-- ovo je sekcija sa osnovnim informacijama o eventu odnosno zanr eventa i minimum godina -->
            <div class="event-info">
                <div class="event-meta">
                    <span class="genre-tag">{{ event.genre }}</span>
                    <span class="age-tag">{{ event.minAge }}+</span>
                </div>
                <!-- ovo je ono sto prikazujemo  na smaom vrhu naziv eventa i izvodjaca -->
                <h1 class="event-title">{{ event.eventName }}</h1>
                <h2 class="artist-name">{{ event.artist }}</h2>

                <!-- ovde prikazujemo osnovne informacije o eventu kao sto su datum vreme i lokacija -->
                <div class="event-details">
                    <div class="detail-item">
                        <svg class="detail-item-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                            height="24" fill="none">
                            <path d="M16 2V6M8 2V6" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path
                                d="M13 4H11C7.22876 4 5.34315 4 4.17157 5.17157C3 6.34315 3 8.22876 3 12V14C3 17.7712 3 19.6569 4.17157 20.8284C5.34315 22 7.22876 22 11 22H13C16.7712 22 18.6569 22 19.8284 20.8284C21 19.6569 21 17.7712 21 14V12C21 8.22876 21 6.34315 19.8284 5.17157C18.6569 4 16.7712 4 13 4Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                            <path d="M3 10H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                            <path d="M11.9955 14H12.0045M11.9955 18H12.0045M15.991 14H16M8 14H8.00897M8 18H8.00897"
                                stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                        <!-- ponovo koristimo pipe za datum samo sada parsiramo ceo datum direktno u formatu kako nama odgovara MMM daje mesec nazivom dok ostalo parsira ostatk dana i godine normalno -->
                        <span>{{ event.eventDate | date:'MMM.dd.yyyy'}}</span>
                        <!-- ovde se proverava da li postoji krjanji datum eventa i ako postoji prikazuje se u istom formatu kao pocetak
                        krajnji datum ne mora uvek psotojati to je smao za eventove koji traju vise dana  -->
                        <span *ngIf="event.endDate"> - {{ event.endDate | date:'MMM.dd.yyyy'}}</span>
                    </div>

                    <!-- ovde prikazujemo vreme dogadjaja  -->
                    <div class="detail-item">
                        <svg class="detail-item-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                            height="24" fill="none">
                            <path
                                d="M2.5 12C2.5 7.52166 2.5 5.28249 3.89124 3.89124C5.28249 2.5 7.52166 2.5 12 2.5C16.4783 2.5 18.7175 2.5 20.1088 3.89124C21.5 5.28249 21.5 7.52166 21.5 12C21.5 16.4783 21.5 18.7175 20.1088 20.1088C18.7175 21.5 16.4783 21.5 12 21.5C7.52166 21.5 5.28249 21.5 3.89124 20.1088C2.5 18.7175 2.5 16.4783 2.5 12Z"
                                stroke="currentColor" stroke-width="1.5" stroke-linejoin="round"></path>
                            <path d="M9 9L13.0001 12.9996M16 8L11 13" stroke="currentColor" stroke-width="1.5"
                                stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <!-- pipe short time nam daje vreme bez sekundi i oznake tipa vremenske zone i drugo odnosno smao sate i minute -->
                        <span>{{ event.eventDate | date:'shortTime'}}</span>
                    </div>
                    <!-- ovde dajemo podatke o preciznoj lokaciji gradu i drzavi eventa -->
                    <div class="detail-item">
                        <svg class="detail-item-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                            height="24" fill="none">
                            <path
                                d="M13.6177 21.367C13.1841 21.773 12.6044 22 12.0011 22C11.3978 22 10.8182 21.773 10.3845 21.367C6.41302 17.626 1.09076 13.4469 3.68627 7.37966C5.08963 4.09916 8.45834 2 12.0011 2C15.5439 2 18.9126 4.09916 20.316 7.37966C22.9082 13.4393 17.599 17.6389 13.6177 21.367Z"
                                stroke="currentColor" stroke-width="1.5"></path>
                            <path
                                d="M15.5 11C15.5 12.933 13.933 14.5 12 14.5C10.067 14.5 8.5 12.933 8.5 11C8.5 9.067 10.067 7.5 12 7.5C13.933 7.5 15.5 9.067 15.5 11Z"
                                stroke="currentColor" stroke-width="1.5"></path>
                        </svg>
                        <span>{{ event.venue }}, {{ event.city }}, {{ event.country }}</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sekcija za karte -->
        <div class="ticket-section">
            <div class="price-info">
                <!-- ovde prikazujemo cenu nase karte -->
                <span class="price">
                    {{ event.ticketPrice | currency:'RSD' }}
                </span>
                <!-- u ovom delu ukoliko sve karte nisu rasprodate prikazujemo broj karata koje su dostupne -->
                <span class="availability" *ngIf="!event.soldOut">
                    {{ event.availableTickets }} karata dostupno
                </span>
            </div>
            <!-- ovo je deo za kupovinu karte u sustini mi redirektujemo korisnika koji klikne na link na sajt za kupovinu karte koji se nalazi u bazi u slucaju d akarte nisu rasprodate -->
            <a *ngIf="!event.soldOut" [href]="event.ticketWebsiteUrl" class="ticket-button">
                <img src="/assets/icons/ticket.svg" alt=""> Kupi karte
            </a>
            <!-- ovde prikazujemo poruku ukoliko su sve karte rasprodate -->
            <div *ngIf="event.soldOut" class="sold-out-message">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="none">
                    <path
                        d="M13.9248 21H10.0752C5.44476 21 3.12955 21 2.27636 19.4939C1.42317 17.9879 2.60736 15.9914 4.97574 11.9985L6.90057 8.75333C9.17559 4.91778 10.3131 3 12 3C13.6869 3 14.8244 4.91777 17.0994 8.75332L19.0243 11.9985C21.3926 15.9914 22.5768 17.9879 21.7236 19.4939C20.8704 21 18.5552 21 13.9248 21Z"
                        stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    <path d="M12 9V13.5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                    <path d="M12 16.9922V17.0022" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </svg>
                <span>Događaj je rasprodat</span>
            </div>
        </div>
        <!-- Informacije o organizatoru -->
        <div class="extra-with-video">
            <div class="extra-details">
                <!-- Opis događaja -->
                <div class="description-section">
                    <h3>O događaju</h3>
                    <p>{{ event.description }}</p>
                </div>
                <h3>Organizator</h3>
                <div class="organizer-info">
                    <!-- ovde radimo pipe za odsecanje kod prikazivanja avatara gde odsecamo prvo slovo i prikazujemo ga u avatr krugu -->
                    <div class="organizer-avatar">{{ event.organizer | slice:0:1}}</div>
                    <!-- ovde se nalaze podaci o organiztoru dogadjaja -->
                    <div class="organizer-details">
                        <span class="organizer-name">{{ event.organizer }}</span>
                        <span class="organizer-label">Organizator događaja</span>
                    </div>
                </div>
                <!-- u ravni sa organizatorom prikazujemo i lokaciju koju cmeo izgurati skroz desno -->
                <div class="map-section">
                    <h3>Lokacija</h3>
                    <span>{{ event.venue }}</span>
                </div>
            </div>
            <!-- ucitavamo iframe sa video za zoutube -->
            <div class="video">
                <!-- klasicna iframe konfiguracija za video -->
                <!-- ovaj deo je jako zanimljiv kako je youtube format jasan po pitanju embedovanja pocetak c euvek biti isti
                ali kako covek nece kopirati iframe vec link taj link ce pocinjati sa https://youtu.be/ kao sto vidimo
                ovd eimamo 17 elemenata
                pa cmeo pre nego ubacimo nas kod kako bi omogucili adminu akda dodaje video samo da kopira link me ovde
                odseci nepotreban deo
                sa pipom slice i lepo sve spojiti takodje smo postavili autoplay na 1  takodje koristimo nas rucno napravljen safeUrl pipe koji nam omogucava da overrajdujemo 
                angularovu direktnu konfiguraciju koja ne dozvoljava eksterne linkove u elementima-->
                <iframe width="560" height="315"
                    [src]="'https://www.youtube.com/embed/' + (event.eventVideoUrl | slice:17) + '&autoplay=1' | safeUrl"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>